body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px 20px;
  text-align: center;
}

#password {
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	margin-bottom: 40px;
}